* {
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
body {
	font-family: Georgia, serif;
	background-image: url("images/glowing.jpg");
	background-repeat: repeat-x;
	background-size: cover;
	background-position: center;
	background-blend-mode: hue;
}
h1 {
	color: #000019;
  font-size: 4em;
	text-shadow: 1px 1px #558ABB;
	font-family: Georgia, serif;
  padding-top: 10px;
	width: 100%;
	background-color:#558ABB;
	padding: 10px ;
  border: 4px solid green ;
}
p {
	color: #1C0601;
	font-size: 1.5em;
	font-family: Georgia, serif;
	text-shadow: 1px 1px #558ABB;
	width: 100%;
}
div.a {
	text-align: center;
}

.row {
  display: flex;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
	text-align: center;
	text-shadow: 1px 1px #558ABB;
	font-family: Georgia, serif;
	font-size: 2.5em;
}
h3 {
	text-align: center;
	text-shadow: 1px 1px #558ABB;
	font-family: Georgia, serif;
	font-size: 1.5em;
}
img {
	padding-left: 10px;
	padding-right: 10px;
}
#right {
	display: block;
	text-align: right;
}
#mirrors {
	align-self: center;
}
#left {
  text-align: left;
}